:root {
  --primary: #0466c8;
  --secondary: #0582ca;
  --tertiary: #023e8a;
  --text: #caf0f8;
  --light: #00b4d8;
  --dark: linear-gradient(to right, #2c3e50, #4ca1af);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  background: var(--dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

#main__header {
  padding: 15px 40px;
  background-color: var(--primary);
  line-height: 1em;
}

#main__header h1 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
}

#main__header p {
  color: #fff;
  font-size: 0.7em;
  margin-left: 1.5em;
}

#container {
  max-width: 75%;
  height: auto;
  margin: 10% auto;
}

#form__header {
  background: linear-gradient(to right, #3a7bd5, #3a6073);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px 20px;
}

#form__header h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
}

#form__left h3,
#form__right h3 {
  font-weight: 600;
  font-size: 1.3em;
  color: #0096c7;
}

.form__container {
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#form__left {
  border-bottom: 1px solid #cacaca;
}

#form__right {
  padding-top: 20px;
}

.form__group {
  padding: 10px 10px;
}

.pas__photo {
  width: 3cm;
  height: 4cm;
  border: 1px solid black;
  margin: 10px auto;
  background: url('img/pasphoto.png') no-repeat center center;
  background-size: cover;
  cursor: pointer;
  position: relative;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.pas__photo .overlay p {
  text-align: center;
  color: #fff;
  z-index: 1;
}

.pas__photo p:first-child {
  margin-top: 2.5em;
}

input[type='text'] {
  height: auto;
  outline: none;
  padding: 15px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  box-shadow: 0 0 15px 4px #0000000f;
}

.border {
  height: 2px;
  width: 0px;
  position: absolute;
  background-color: darkgrey;
  display: inline-block;
  transition: width 0.3s ease-in-out;
  position: relative;
  top: -14px;
  border-radius: 50px;
}

.toggle-border:focus + .border {
  width: 100%;
  background-color: #02add7;
}

.form__group:nth-child(5) label:first-child {
  display: block;
  margin-bottom: 10px;
}

input[type='radio'] + label {
  margin-right: 10px;
  cursor: pointer;
}

input[type='date'] {
  display: block;
  outline: none;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px 4px #0000000f;
  margin: 10px 0;
  cursor: pointer;
}

select {
  display: block;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px 4px #0000000f;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
}

select option:first-child {
  color: gray;
}

input[type='number'] {
  display: block;
  width: 100%;
  outline: none;
  padding: 10px 20px;
  box-shadow: 0 0 15px 4px #0000000f;
}

.form__group:nth-of-type(11) label:first-child {
  display: block;
  margin-bottom: 10px;
}

/* Form-right contents */

#form__right h3 {
  margin-bottom: 10px;
}

textarea {
  outline: none;
  box-shadow: 0 0 15px 4px #0000000f;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}

#btn {
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  background: linear-gradient(to right, #3a7bd5, #3a6073);
  color: #fff;
  font-weight: 600;
  border-radius: 0 0 10px 10px;
  transition: box-shadow 0.3s ease-in-out;
  outline: none;
}

#btn:hover {
  box-shadow: inset 0 0 100px 5px #0096c7;
}

#main__footer {
  background-color: var(--secondary);
}
